<mat-toolbar color="primary">
    <button mat-mini-fab  (click)="goToHome()" id="home_btn">
      <mat-icon>home</mat-icon>
    </button>
    <span class="lilspace"></span>
    <span>Poverenik</span>
    
    <span class="bigspace"></span>
    <div>
      <button mat-raised-button color="accent" id="resenje-button" (click)="goToResenje()">Pravljenje rešenja</button>
      <span class="lilspace"></span>
      <button mat-raised-button color="accent" id="signin-button" (click)="goToLogIn()">Login</button>
      <span class="lilspace"></span>
      <button mat-raised-button color="accent" id="signup-button" (click)="goToRegistration()">Register</button>
    </div>  
  </mat-toolbar>
